# Exercises

1. Exploring Variables in the Student Performance Dataset

**Objective**: Identify the variables in the Student Performance dataset and classify them as numerical or categorical, as well as determine if they are continuous or discrete, and whether they are ordinal or nominal.

**Dataset Description**:
The Student Performance dataset contains information about students' performance in exams. It includes various attributes such as gender, ethnicity, parental level of education, test scores, and more.

**Instructions**:
- Load the Student Performance dataset into a DataFrame called df.
- Examine the dataset and the available columns.
- For each column, determine its data type and classify it accordingly:

    a) Identify the numerical variables and specify if they are continuous or discrete.

    b) Identify the categorical variables and specify if they are ordinal or nominal.

Remember to consider the nature of the variables, their values, and the context of the dataset when classifying them. Some variables may require further examination or interpretation to determine their exact classification.

In [1]:
# Dataset source URL
url = "https://raw.githubusercontent.com/data-bootcamp-v4/prework_data/main/students_performance.csv"

In [10]:
import pandas as pd
df = pd.read_csv(url)

In [11]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [12]:
df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

**Categorical variables**:
* **Nominal:**
    * gender
    * race/ethnicity
    * lunch
* **Ordinal:**
* test preparation course, completed > none
* parental level of education,  master's > bachelor's > associate's...

In [13]:
numvalues = ["math score", "reading score", "writing score"]
df[numvalues]

     math score  reading score  writing score
0            72             72             74
1            69             90             88
2            90             95             93
3            47             57             44
4            76             78             75
..          ...            ...            ...
995          88             99             95
996          62             55             55
997          59             71             65
998          68             78             77
999          77             86             86

[1000 rows x 3 columns]

In [18]:
print(max(df["math score"]))
print(max(df["reading score"]))
print(max(df["writing score"]))

100
100
100

In [20]:
print(sum(df["math score"]))
print(sum(df["reading score"]))
print(sum(df["writing score"]))

66089
69169
68054

**Numeral variables:** \
The resting variables are numeral and discrete, since they only take values up to 100 and don't include decimals.
* math score
* reading score
* writing score