<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Aggregation-and-Grouping" data-toc-modified-id="Data-Aggregation-and-Grouping-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data Aggregation and Grouping</a></span><ul class="toc-item"><li><span><a href="#Aggregation" data-toc-modified-id="Aggregation-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Aggregation</a></span></li><li><span><a href="#Grouping" data-toc-modified-id="Grouping-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Grouping</a></span><ul class="toc-item"><li><span><a href="#Iterating-GroupBy-object" data-toc-modified-id="Iterating-GroupBy-object-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Iterating GroupBy object</a></span></li><li><span><a href="#groups" data-toc-modified-id="groups-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span><code>groups</code></a></span></li><li><span><a href="#size" data-toc-modified-id="size-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span><code>size</code></a></span></li><li><span><a href="#get_group()" data-toc-modified-id="get_group()-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span><code>get_group()</code></a></span></li><li><span><a href="#Applying-aggregations" data-toc-modified-id="Applying-aggregations-1.2.5"><span class="toc-item-num">1.2.5&nbsp;&nbsp;</span>Applying aggregations</a></span></li><li><span><a href="#Multiple-Aggregations" data-toc-modified-id="Multiple-Aggregations-1.2.6"><span class="toc-item-num">1.2.6&nbsp;&nbsp;</span>Multiple Aggregations</a></span></li><li><span><a href="#Grouping-by-Multiple-Variables" data-toc-modified-id="Grouping-by-Multiple-Variables-1.2.7"><span class="toc-item-num">1.2.7&nbsp;&nbsp;</span>Grouping by Multiple Variables</a></span></li></ul></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Summary</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#ðŸ’¡-Check-for-understanding" data-toc-modified-id="ðŸ’¡-Check-for-understanding-2.0.1"><span class="toc-item-num">2.0.1&nbsp;&nbsp;</span>ðŸ’¡ Check for understanding</a></span></li></ul></li></ul></li></ul></div>

# Data Aggregation and Grouping 

Data aggregation and grouping are fundamental operations in data analysis. They involve combining multiple pieces of data into a single result. For instance, you may want to group data by certain variables and then calculate summary statistics like count, mean, sum, or standard deviation.

In [75]:
import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/titanic_train.csv'
df = pd.read_csv(url)

# Display the first few rows of the DataFrame
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Aggregation

Aggregation in pandas involves applying a function to a dataset, transforming multiple values into a single value. pandas provides various aggregation functions, including:

- `mean()`: Compute the arithmetic mean.
- `sum()`: Compute the sum of values.
- `min()`: Compute the minimum value.
- `max()`: Compute the maximum value.
- `count()`: Count the number of non-null values.
- `std()`: Compute the standard deviation.

For instance, to find the mean value of a numerical column, use the `mean()` function:

In [2]:
df['Fare'].mean()

32.204207968574636

## Grouping

Grouping is the process of splitting the data into groups based on certain criteria. The `groupby()` function is used for this purpose.

In [14]:
grouped = df.groupby('Sex')
grouped

### Iterating GroupBy object

The `groupby()` function in pandas returns a `GroupBy` object that can be iterated over. Each iteration provides a tuple where the first item is the group identifier and the second item is the data in that group as a DataFrame.

In [15]:
# Iterate over each group
for name, group in grouped:
    print(f"Group name: {name}")
    print(group)

Group name: female
     PassengerId  Survived  Pclass  \
1              2         1       1
2              3         1       3
3              4         1       1
8              9         1       3
9             10         1       2
..           ...       ...     ...
880          881         1       2
882          883         0       3
885          886         0       3
887          888         1       1
888          889         0       3

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
..                                                 ...     ...   ...    ...
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1

     Parch            Ticket     Fare Cabin Embarked
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
8        2            347742  11.1333   NaN        S
9        0            237736  30.0708   NaN        C
..     ...               ...      ...   ...      ...
880      1            230433  26.0000   NaN        S
882      0              7552  10.5167   NaN        S
885      5            382652  29.1250   NaN        Q
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S

[314 rows x 12 columns]
Group name: male
     PassengerId  Survived  Pclass                            Name   Sex  \
0              1         0       3         Braund, Mr. Owen Harris  male
4              5         0       3        Allen, Mr. William Henry  male
5              6         0       3                Moran, Mr. James  male
6              7         0       1         McCarthy, Mr. Timothy J  male
7              8         0       3  Palsson, Master. Gosta Leonard  male
..           ...       ...     ...                             ...   ...
883          884         0       2   Banfield, Mr. Frederick James  male
884          885         0       3          Sutehall, Mr. Henry Jr  male
886          887         0       2           Montvila, Rev. Juozas  male
889          890         1       1           Behr, Mr. Karl Howell  male
890          891         0       3             Dooley, Mr. Patrick  male

      Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0    22.0      1      0         A/5 21171   7.2500   NaN        S
4    35.0      0      0            373450   8.0500   NaN        S
5     NaN      0      0            330877   8.4583   NaN        Q
6    54.0      0      0             17463  51.8625   E46        S
7     2.0      3      1            349909  21.0750   NaN        S
..    ...    ...    ...               ...      ...   ...      ...
883  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
886  27.0      0      0            211536  13.0000   NaN        S
889  26.0      0      0            111369  30.0000  C148        C
890  32.0      0      0            370376   7.7500   NaN        Q

[577 rows x 12 columns]

In [16]:
# The number of groups by gender (`len(grouped)`) is equal to the number of unique elements in that category.

df['Sex'].nunique() == len(grouped)

True

### `groups`
The `groups` attribute of a pandas `GroupBy` object is a dictionary. The keys of this dictionary are the computed unique groups and the corresponding values are the axis labels belonging to each group.

In [17]:
grouped.groups

{'female': [1, 2, 3, 8, 9, 10, 11, 14, 15, 18, 19, 22, 24, 25, 28, 31, 32, 38, 39, 40, 41, 43, 44, 47, 49, 52, 53, 56, 58, 61, 66, 68, 71, 79, 82, 84, 85, 88, 98, 100, 106, 109, 111, 113, 114, 119, 123, 128, 132, 133, 136, 140, 141, 142, 147, 151, 156, 161, 166, 167, 172, 177, 180, 184, 186, 190, 192, 194, 195, 198, 199, 205, 208, 211, 215, 216, 218, 229, 230, 233, 235, 237, 240, 241, 246, 247, 251, 254, 255, 256, 257, 258, 259, 264, 268, 269, 272, 274, 275, 276, ...], 'male': [0, 4, 5, 6, 7, 12, 13, 16, 17, 20, 21, 23, 26, 27, 29, 30, 33, 34, 35, 36, 37, 42, 45, 46, 48, 50, 51, 54, 55, 57, 59, 60, 62, 63, 64, 65, 67, 69, 70, 72, 73, 74, 75, 76, 77, 78, 80, 81, 83, 86, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99, 101, 102, 103, 104, 105, 107, 108, 110, 112, 115, 116, 117, 118, 120, 121, 122, 124, 125, 126, 127, 129, 130, 131, 134, 135, 137, 138, 139, 143, 144, 145, 146, 148, 149, 150, 152, 153, 154, 155, ...]}

### `size`

The `size` attribute of a pandas `GroupBy` object returns a Series giving the size (i.e., the number of items) of each group. This is like applying the `count()` function to each group, but `size` includes `NaN` values and `count` does not.

In [18]:
grouped.size()

Sex
female    314
male      577
dtype: int64

### `get_group()`

The `get_group` method is used to select a single group from a `GroupBy` object as a DataFrame. You provide the name of the group you want to select as an argument.

In [19]:
grouped.get_group('female').head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

### Applying aggregations

Once the data is split into groups, you need a way to represent each group in the resulting output. That's where aggregation functions come in.

For example, if you group a DataFrame by a categorical variable (like 'City'), you'll end up with a separate group for each unique city in your data. But how do you want to represent each city in your result? Do you want the mean of another variable (like 'Sales') for each city? The sum? The maximum? This is what the aggregation function determines.

When you apply an aggregation function after a `groupby()`, pandas applies that function to each group separately and then combines the results into a new DataFrame.

In [23]:
df.groupby('Sex').mean() # Get the mean of each variable grouped by Sex

AttributeError: 'DataFrameGroupBy' object has no attribute 'columns'

In [21]:
# Let's find the average age of the passengers grouped by their gender

df.groupby('Sex')['Age'].mean()

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

### Multiple Aggregations

You can perform multiple aggregations at once using the `agg()` function. 

For example, let's find the count, mean, and standard deviation of the age of passengers, grouped by their gender:

In [27]:
df.groupby('Sex')['Age'].agg(['count', 'mean', 'std'])

        count       mean        std
Sex
female    261  27.915709  14.110146
male      453  30.726645  14.678201

### Grouping by Multiple Variables

You can group by multiple variables by passing a list to the `groupby()` function.

For example, let's find the average age of passengers grouped by their gender and whether they survived:

In [28]:
df.groupby(['Sex', 'Survived'])['Age'].mean()

Sex     Survived
female  0           25.046875
        1           28.847716
male    0           31.618056
        1           27.276022
Name: Age, dtype: float64

# Summary

- Aggregation involves applying a function to a dataset that reduces multiple values into a single value. Common aggregation functions in pandas include `mean()`, `sum()`, `min()`, `max()`, `count()`, and `std()`.
- Grouping in pandas is done using the `groupby()` function, which splits data into groups based on certain criteria. The grouped data can then be aggregated separately.
    - A `GroupBy` object can be iterated over, with each iteration yielding a tuple where the first item is the group identifier, and the second item is the data in that group as a DataFrame.
    - The `groups` attribute of a `GroupBy` object is a dictionary where the keys are the computed unique groups, and the corresponding values are the axis labels belonging to each group.
    - The `size` attribute of a `GroupBy` object returns a Series giving the size of each group. Unlike the `count()` function, `size` includes `NaN` values.
    - The `get_group()` method of a `GroupBy` object allows for the selection of a single group as a DataFrame.
- After a `groupby()` operation, an aggregation function is necessary to represent each group in the resulting output.
- Multiple aggregations can be performed at once using the `agg()` function.
- Grouping can be done by multiple variables by passing a list to the `groupby()` function. This can be helpful when you want to analyze your data at different levels of granularity.

### ðŸ’¡ Check for understanding

Using the Titanic dataset (`'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/titanic_train.csv'`), perform the following operations and **write your conclusions after each step**:

- Calculate the number, mean, and standard deviation of the 'Fare' paid by passengers, grouped by their 'Sex'.

- Determine the number of survivors and non-survivors by class (use 'Pclass' variable).

- Determine the number of survivors and non-survivors by gender.

- Use the `get_group` method to select the group of 1st Class passengers and display the first 5 rows of this group. Then, group by 'Survived' within the first class group, and calculate the average fare.

- Create a new column 'AgeGroup' . This column should categorize passengers as 'Child' (age <= 12), 'Teen' (12 < age <=18), 'Adult' (18 < age <= 60), and 'Senior' (age > 60). Then, find out how many survivors are there in each age group.

- BONUS: calculate the survival rates within each age group in percentages.

In [48]:
# Calculate the number, mean, and standard deviation of the 'Fare' paid by passengers, grouped by their 'Sex'.
df.groupby("Sex")["Fare"].agg(['count', 'mean', 'std'])

        count       mean        std
Sex
female    314  44.479818  57.997698
male      577  25.523893  43.138263

In [43]:
# Determine the number of survivors and non-survivors by class (use 'Pclass' variable).
df.groupby(["Survived", "Pclass"])["Pclass"].count()

Survived  Pclass
0         1          80
          2          97
          3         372
1         1         136
          2          87
          3         119
Name: Pclass, dtype: int64

In [112]:
# Determine the number of survivors and non-survivors by gender.
df.groupby(["Survived", "Sex"])["Sex"].count()

Survived  Sex
0         female     81
          male      468
1         female    233
          male      109
Name: Sex, dtype: int64

In [113]:
# also possible:
df.groupby(["Survived", "Sex"]).size()

Survived  Sex
0         female     81
          male      468
1         female    233
          male      109
dtype: int64

In [118]:
# Use the get_group method to select the group of 1st Class passengers and display the first 5 rows of this group. 
# Then, group by 'Survived' within the first class group, and calculate the average fare.
df.groupby("Pclass").get_group(1).groupby("Survived")["Fare"].mean()

Survived
0    64.684007
1    95.608029
Name: Fare, dtype: float64

In [76]:
# Create a new column 'AgeGroup' . This column should categorize passengers as 'Child' (age <= 12), 'Teen' (12 < age <=18), 
# 'Adult' (18 < age <= 60), and 'Senior' (age > 60). Then, find out how many survivors are there in each age group.
import numpy as np

AgeGroup = []
for x in df["Age"]:
    if x <= 12:
        AgeGroup.append("Child")
    elif x <= 18:
        AgeGroup.append("Teen")
    elif x <= 60:
        AgeGroup.append("Adult")
    elif x > 60:
        AgeGroup.append("Senior")
    else:
        AgeGroup.append(np.nan)
df["AgeGroup"] = AgeGroup

In [121]:
# same in a separate function
def create_agegroup(agecolumn):
    agegrouplist = []
    for x in df["Age"]:
        if x <= 12:
            agegrouplist.append("Child")
        elif x <= 18:
            agegrouplist.append("Teen")
        elif x <= 60:
            agegrouplist.append("Adult")
        elif x > 60:
            agegrouplist.append("Senior")
        else:
            agegrouplist.append(np.nan)
    return agegrouplist

newcolumn = create_agegroup(df["Age"])
newcolumn

['Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Child',
 'Adult',
 'Teen',
 'Child',
 'Adult',
 'Adult',
 'Adult',
 'Teen',
 'Adult',
 'Child',
 nan,
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Teen',
 'Adult',
 'Child',
 'Adult',
 nan,
 'Adult',
 nan,
 nan,
 'Adult',
 nan,
 nan,
 'Senior',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Teen',
 'Teen',
 'Adult',
 'Adult',
 nan,
 'Child',
 'Adult',
 nan,
 nan,
 nan,
 nan,
 'Teen',
 'Child',
 'Adult',
 'Adult',
 'Adult',
 'Senior',
 nan,
 'Adult',
 'Adult',
 'Child',
 'Child',
 'Adult',
 'Adult',
 'Adult',
 'Child',
 nan,
 nan,
 'Adult',
 'Adult',
 'Teen',
 'Adult',
 'Adult',
 'Teen',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 nan,
 'Child',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Teen',
 'Adult',
 'Teen',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Senior',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 nan,
 'Adult',
 'Teen',
 'Adult',
 'Adult',
 'Teen',
 'Adult',
 'Senior',
 'Adult',
 'Adult',
 'Child',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Child',
 nan,
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Teen',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Teen',
 'Adult',
 'Adult',
 'Child',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Teen',
 'Adult',
 nan,
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Teen',
 'Child',
 'Child',
 nan,
 'Adult',
 nan,
 'Adult',
 'Senior',
 'Child',
 'Child',
 'Adult',
 'Adult',
 'Teen',
 nan,
 'Adult',
 'Adult',
 'Adult',
 nan,
 nan,
 'Child',
 'Child',
 'Child',
 nan,
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Child',
 'Adult',
 'Adult',
 nan,
 'Adult',
 nan,
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Teen',
 'Child',
 'Adult',
 'Adult',
 'Teen',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Teen',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Teen',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Child',
 'Adult',
 nan,
 'Adult',
 'Child',
 'Adult',
 'Adult',
 nan,
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Senior',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Child',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Teen',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Senior',
 'Adult',
 nan,
 'Child',
 'Adult',
 'Senior',
 'Adult',
 'Teen',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Child',
 nan,
 'Adult',
 nan,
 nan,
 'Adult',
 nan,
 nan,
 'Child',
 nan,
 'Teen',
 'Adult',
 'Adult',
 'Adult',
 'Teen',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Senior',
 'Adult',
 'Adult',
 'Teen',
 nan,
 'Adult',
 'Adult',
 'Teen',
 nan,
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Child',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Child',
 'Adult',
 'Adult',
 nan,
 'Teen',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 nan,
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 nan,
 nan,
 'Adult',
 'Adult',
 'Teen',
 'Adult',
 'Adult',
 'Child',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Child',
 'Adult',
 'Adult',
 nan,
 'Teen',
 'Child',
 'Adult',
 nan,
 'Teen',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Child',
 'Adult',
 nan,
 nan,
 nan,
 'Adult',
 nan,
 'Adult',
 nan,
 'Adult',
 'Teen',
 'Adult',
 'Child',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Teen',
 nan,
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Teen',
 'Adult',
 'Teen',
 'Adult',
 'Adult',
 'Senior',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Child',
 'Teen',
 'Adult',
 'Child',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Senior',
 nan,
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 nan,
 'Adult',
 nan,
 'Child',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Child',
 'Child',
 nan,
 'Adult',
 'Senior',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Child',
 nan,
 'Adult',
 'Adult',
 'Senior',
 'Adult',
 nan,
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Teen',
 'Adult',
 nan,
 'Adult',
 'Teen',
 'Teen',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 nan,
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Child',
 nan,
 'Teen',
 nan,
 'Adult',
 'Child',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Child',
 'Child',
 'Adult',
 'Adult',
 'Senior',
 'Adult',
 nan,
 'Adult',
 'Child',
 'Teen',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Senior',
 'Adult',
 nan,
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 nan,
 nan,
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Senior',
 'Adult',
 'Adult',
 nan,
 'Teen',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Teen',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 nan,
 'Adult',
 nan,
 'Adult',
 'Adult',
 nan,
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 nan,
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Child',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Senior',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Senior',
 'Adult',
 'Adult',
 nan,
 'Child',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Child',
 nan,
 'Child',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 nan,
 'Teen',
 'Adult',
 nan,
 'Teen',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Senior',
 'Adult',
 nan,
 'Teen',
 'Adult',
 'Teen',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Teen',
 'Adult',
 'Adult',
 'Teen',
 'Adult',
 'Teen',
 'Teen',
 'Adult',
 'Child',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Teen',
 'Adult',
 'Teen',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Child',
 'Teen',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Child',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 nan,
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Senior',
 'Teen',
 'Adult',
 'Adult',
 'Adult',
 'Child',
 'Child',
 'Adult',
 'Adult',
 'Adult',
 'Child',
 'Adult',
 'Teen',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Teen',
 'Adult',
 nan,
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Teen',
 nan,
 'Child',
 nan,
 'Adult',
 'Teen',
 'Teen',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Teen',
 'Child',
 'Child',
 'Adult',
 nan,
 'Teen',
 nan,
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Child',
 'Child',
 'Adult',
 'Adult',
 'Adult',
 'Teen',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Child',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Child',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Child',
 nan,
 nan,
 'Child',
 nan,
 'Senior',
 'Teen',
 'Child',
 nan,
 'Adult',
 'Teen',
 'Adult',
 'Adult',
 nan,
 'Adult',
 nan,
 'Adult',
 'Teen',
 'Adult',
 'Adult',
 'Teen',
 'Adult',
 nan,
 'Adult',
 'Adult',
 nan,
 'Child',
 'Senior',
 'Child',
 'Teen',
 'Adult',
 'Teen',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Child',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Teen',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 'Adult',
 nan,
 'Adult',
 'Adult']

In [124]:
# same with .apply() function
def create_agegroupapply(agevalue):
    if x <= 12:
        return "Child"
    elif x <= 18:
        return "Teen"
    elif x <= 60:
        return "Adult"
    elif x > 60:
        return"Senior"
    else:
        return np.nan

newgroup = df["Age"].apply(create_agegroupapply)

newgroup

0      Adult
1      Adult
2      Adult
3      Adult
4      Adult
       ...
886    Adult
887    Adult
888    Adult
889    Adult
890    Adult
Name: Age, Length: 891, dtype: object

In [79]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,AgeGroup
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Adult
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Adult
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Adult
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Adult
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Adult
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Adult
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,NaN
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Adult
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Adult

In [77]:
df.groupby(["AgeGroup", "Survived"])["AgeGroup"].count()

AgeGroup  Survived
Adult     0           338
          1           215
Child     0            29
          1            40
Senior    0            17
          1             5
Teen      0            40
          1            30
Name: AgeGroup, dtype: int64

In [110]:
# BONUS: calculate the survival rates within each age group in percentages.
Adult_Survival_Rate = round(((df.groupby(["AgeGroup", "Survived"])["AgeGroup"].count()["Adult"][1] / df.groupby(["AgeGroup"])["AgeGroup"].count()["Adult"]) * 100),2)
Child_Survival_Rate = round(((df.groupby(["AgeGroup", "Survived"])["AgeGroup"].count()["Child"][1] / df.groupby(["AgeGroup"])["AgeGroup"].count()["Child"]) * 100),2)
Senior_Survival_Rate = round(((df.groupby(["AgeGroup", "Survived"])["AgeGroup"].count()["Senior"][1] / df.groupby(["AgeGroup"])["AgeGroup"].count()["Senior"]) * 100),2)
Teen_Survival_Rate = round(((df.groupby(["AgeGroup", "Survived"])["AgeGroup"].count()["Teen"][1] / df.groupby(["AgeGroup"])["AgeGroup"].count()["Teen"]) * 100),2)

print(f"Survival rate for children: {Child_Survival_Rate}%")
print(f"Survival rate for teens: {Teen_Survival_Rate}%")
print(f"Survival rate for adults: {Adult_Survival_Rate}%")
print(f"Survival rate for seniors: {Senior_Survival_Rate}%")

Survival rate for children: 57.97%
Survival rate for teens: 42.86%
Survival rate for adults: 38.88%
Survival rate for seniors: 22.73%